# cabocha-python==0.69
# certifi==14.05.14
corenlp-python==3.4.1-1
flake8==2.2.5
joe==0.0.5
ipython==2.3.1
gensim==0.12.1
# libsvm (3.14)
lxml==3.4.4
matplotlib==1.4.2
# mecab-python==0.996
nltk==3.0.4
pep8==1.5.7
pip==1.5.6
# pydot (1.0.29)
pyflakes==0.8.1
pymongo==2.7.2
redis==2.10.3
scikit-learn==0.16.1
